@import "tailwindcss";

:root {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

@theme {
  --blue-base: #2c46b1;
  --blue-dark: #2c4091;
  --white: #ffffff;
  --gray-100: #f9f9fb;
  --gray-200: #e4e6ec;
  --gray-300: #cdcfd5;
  --gray-400: #74798b;
  --gray-500: #4d505c;
  --gray-600: #1f2025;
  --danger: #b12c4d;
  --radius-base: 0.3125rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-xl--font-weight: 700;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--font-weight: 700;
  --text-md: 0.875rem;
  --text-md--line-height: 1.125rem;
  --text-md--font-weight: 600;
  --text-sm: 0.75rem;
  --text-sm--line-height: 1rem;
  --text-sm--font-weight: 500;
  --text-xs: 0.625rem;
  --text-xs--line-height: 0.875rem;
  --text-xs--font-weight: 400;
  --breakpoint-3xl: 85.375rem;
}

@layer components {
  .page {
    @apply relative flex h-auto min-h-full w-screen flex-1 flex-col items-start justify-start;
  }
}
