@import "tailwindcss";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@theme {
  --blue-base: #2c46b1;
  --blue-dark: #2c4091;
  --white: #ffffff;
  --gray-100: #f9f9fb;
  --gray-200: #e4e6ec;
  --gray-300: #cdcfd5;
  --gray-400: #74798b;
  --gray-500: #4d505c;
  --gray-600: #1f2025;
  --danger: #b12c4d;
  --radius-base: 0.3125rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-xl--font-weight: 700;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--font-weight: 700;
  --text-md: 0.875rem;
  --text-md--line-height: 1.125rem;
  --text-md--font-weight: 600;
  --text-sm: 0.75rem;
  --text-sm--line-height: 1rem;
  --text-sm--font-weight: 500;
  --text-xs: 0.625rem;
  --text-xs--line-height: 0.875rem;
  --text-xs--font-weight: 400;
  --breakpoint-3xl: 85.375rem;
  --shadow-shape:
    0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
    inset 0px 1px 0px rgba(255, 255, 255, 0.03);
  --shadow-shape-content:
    0px 0px 0px 1px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px rgba(255, 255, 255, 0.02),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
  --text-xxs: 0.625rem;
  --animate-border: border 2s linear infinite;
  @keyframes border {
    0% {
      --border-angle: 0deg;
    }
    100% {
      --border-angle: 360deg;
    }
  }
  --animate-fast-spin: fastspin 0.5s linear infinite;
  @keyframes fastspin {
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .page {
    @apply relative flex h-auto w-screen flex-col;
  }
  .border-active {
    @apply animate-border box-border border-[2px] border-transparent;
    background:
      linear-gradient(
          45deg,
          var(--gray-100),
          var(--gray-100) 50%,
          var(--gray-100)
        )
        padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--border-start, var(--gray-100)) 80%,
          var(--border-middle, var(--blue-base)) 86%,
          var(--border-glow, var(--blue-dark)) 90%,
          var(--border-middle, var(--blue-base)) 94%,
          var(--border-end, var(--gray-200)) 100%
        )
        border-box;
  }
  .border-active-primary {
    @apply animate-border box-border border-[2px] border-transparent;
    background:
      linear-gradient(
          45deg,
          var(--blue-base),
          var(--blue-base) 50%,
          var(--blue-base)
        )
        padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--border-start, var(--blue-base)) 80%,
          var(--border-middle, var(--gray-500)) 86%,
          var(--border-glow, var(--blue-dark)) 90%,
          var(--border-middle, var(--gray-500)) 94%,
          var(--border-end, var(--gray-100)) 100%
        )
        border-box;
  }
  .border-active-secondary {
    @apply animate-border box-border border-[2px] border-transparent;
    background:
      linear-gradient(
          45deg,
          var(--gray-200),
          var(--gray-200) 50%,
          var(--gray-200)
        )
        padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--border-start, var(--gray-200)) 80%,
          var(--border-middle, var(--blue-base)) 86%,
          var(--border-glow, var(--blue-dark)) 90%,
          var(--border-middle, var(--blue-base)) 94%,
          var(--border-end, var(--gray-400)) 100%
        )
        border-box;
  }
}

:root {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}
